name: Deploy to Ubuntu Server with SSH Key

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16' # Node.js 설치

    - name: Install html-minifier
      run: |
        npm install -g html-minifier

    - name: Add SSH key
      run: |
        mkdir -p ~/.ssh
        printf '%s\n' "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa

    - name: Obfuscate HTML files
      run: |
        set -x
        for file in $(find . -name '*.html'); do
          echo "Processing $file"
          html-minifier --config-file html-minifier.json -o "$file" "$file"
          if [ $? -ne 0 ]; then
            echo "Error processing $file"
            exit 1
          fi
          echo "Contents of $file after minification:"
          cat "$file"
        done

    - name: Copy files to server using SSH
      run: |
        rsync -avz -e "ssh -o StrictHostKeyChecking=no" ./ ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }}:${{ secrets.TARGET_DIRECTORY }}